<div class="table-wrapper">
  <div class="table-upper-layer">

  </div>
  <div class="table-graphics-container">
    <img class='ul' src="../../assets/img/table_l.svg" alt="table_img">
    <img class='middle' src="../../assets/img/table_m.svg" alt="table_img">
    <img class='middle' src="../../assets/img/table_m.svg" alt="table_img">
    <img class='middle' src="../../assets/img/table_m.svg" alt="table_img">
    <img class='ur' src="../../assets/img/table_r.svg" alt="table_img">
  </div>
</div>
